
/* NAVIGATION */
.nav{
    position:sticky;
    top: 0;
    display:flex;
    flex-wrap: wrap;
    border-bottom: 1px groove white;
    justify-content: space-between;
    background-color: rgba(240, 225, 225, 0.821);
    font-family: Tahoma,san-serif;
    color:rgb(240, 237, 237);
    padding: 12px;
    z-index: 16;
}

.nav a{
    font-family: Tahoma,san-serif;
    text-decoration: none;
    color:rgb(11, 11, 11);
    font-size: 17px;
    font-weight: 700;
    padding: 10px 50px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    top:5px;
}

.nav a:hover{
    background-color: rgb(9, 9, 9);
    color:rgb(231, 9, 9);
}




.logo{
    display:inline-block;
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    animation:infinite;
    animation-name: example;
    animation-duration: 30s;
}

@keyframes example {
    0% {color: red;}
    10% {color:blueviolet;}
    20% {color: rgb(9, 9, 5);}
    30% {color:rgb(215, 21, 134);}
    40% {color:rgb(102, 76, 27);}
    50% {color: rgb(164, 22, 200);}
    60% {color:rgb(15, 151, 175);}
    70% {color: rgb(56, 81, 241);}
    80% {color:rgb(131, 157, 134);}
    90% {color:rgb(145, 155, 65);}
    100% {color: red;}
}

@keyframes example1 {
    0% {color: red;}
    10% {color:rgb(143, 36, 244);}
   
    30% {color:rgb(215, 21, 134);}
   
    50% {color: rgb(233, 169, 7);}
   
    70% {color: rgb(56, 81, 241);}
    
    90% {color:rgb(16, 197, 115);}

    100%{color:rgb(245, 241, 241);}
}

#logor{
    font-size: 32px;
    animation: infinite;
    animation-name: example0;
    animation-duration: 5s;
}

@keyframes example0{
    50%{transform: scale(1.3);}
    70%{transform: none;}
    100%{transform: rotate(360deg);}

    /* 100%{transform: rotate(360deg);} */
}

/* #logor:hover{
    transform: rotate(360deg);
    transition: 1.3s;
} */

.search span button{
    outline: none;
    background-color: blue;
    color:rgb(237, 231, 231);
    border: none;
    padding: 9px;
    border-radius: 10px;
    font-weight: 700;
    border-left: 1px solid black;
}

.search span button:hover{
    background-color: green;
    cursor: pointer;
}


.search span input{
    background-color: rgb(15, 13, 13);
    color: rgb(232, 224, 224);
    font-size: 16px;
    padding: 5px;
    width: 150px;
    border:none;
    outline: none;
    margin-left: 5px;
}
.search{
    padding-left: 10px;
    padding-right: 0px;
    background-color:rgb(10, 10, 10) ;
    border-radius: 10px;
    border: 1px solid black;
}

.fa-magnifying-glass{
    color:rgb(237, 233, 233);
}


