@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding:0;
    background-color: rgb(9, 24, 49);
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 10px;
}
.content{
    height:80vh;
    width:150vh;
    background-color: rgb(6, 6, 6);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0.7;
    border-radius: 2rem;
    visibility: visible;
    animation-name: divs1;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.content h2{
    padding: 1.2rem;
    color:rgb(247, 5, 5);
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}

.content p{
    margin:1rem 2rem;
    color:white;
    font-size: 1.4rem;
    line-height: 2.7rem;
    text-align: justify;
}

.content1{
    width:150vh;
    border: 1px solid white;
    height:80vh;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    border-radius: 2rem;
    animation-name: divs2;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    
}

@keyframes divs1{
    0% {visibility: visible;}
    20% {visibility: visible;}
    30% {visibility: visible;}
    40%{visibility: visible;}
    50%{visibility: visible;}
    60%{visibility: hidden;}
    70%{visibility: hidden;}
    80%{visibility: hidden;}
    90%{visibility: hidden;}
    100%{visibility: hidden;}
}

@keyframes divs2{
    0% {visibility: hidden;}
    20% {visibility: hidden;}
    30% {visibility: hidden;}
    40%{visibility: hidden;}
    50%{visibility: hidden;}
    60%{visibility: hidden;}
    70%{visibility: visible;}
    80%{visibility: visible;}
    90%{visibility: visible;}
    100%{visibility: visible;}
}




.content1 div{
    background-color: white;
    width:28rem;
    height:auto;
    border-radius: 2rem;
    
}

.content1 div:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 4px 5px 4px rgb(235, 233, 233);
    border:1px solid black;
}


.content1 div img{
    width:100%;
    height:auto;
    border-radius: 2rem;
}

.content1 div p{
    font-weight: 700;
    padding: 0.1rem 2rem;
    margin-bottom: 0.2rem;
}

#home{
    background-color: black;
    color:red;
}


