span {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.section-1 div {
  box-sizing: border-box;
  background-color: yellow;
  width: 18%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 1px solid black;
  float: left;
}
.section-1 div img {
  width: 100%;
}
@media (min-width: 721px) and (max-width: 1279px) {
  .section-1 div {
    width: 18%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-1 div span {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  .section-1 div {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-1 div span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .section-1 div {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-1 div span {
    font-size: 16px;
  }
}

.section-2 div {
  box-sizing: border-box;
  background-color: red;
  width: 31.3333333333%;
  margin-right: 2%;
  margin-bottom: 2%;
  border: 1px solid black;
  float: left;
}
.section-2 div img {
  width: 100%;
}
@media (min-width: 721px) and (max-width: 1279px) {
  .section-2 div {
    width: 31.3333333333%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-2 div span {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  .section-2 div {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-2 div span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .section-2 div {
    width: 98%;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    float: left;
  }
  .section-2 div span {
    font-size: 16px;
  }
}